<html lang="en">
<head>
    <meta charset="utf-8"/>
    <link rel="icon" href="/favicon.ico"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <meta name="theme-color" content="#000000"/>
    <meta name="description" content="Sharof Rashidov nomidagi Samarqand davlat universiteti Dars jadvali"/>
    <link rel="apple-touch-icon" href="/logo192.png"/>
    <link rel="manifest" href="/manifest.json"/>
    <title>Dars jadvali</title>
    <script defer="defer" src="/static/js/main.20490f3f.js"></script>
    <link href="/static/css/main.23a84ab9.css" rel="stylesheet">
</head>
<body>
<noscript>You need to enable JavaScript to run this app.</noscript>
<div id="root"></div>
<img src="https://cnt0.www.uz/counter/collect?id=1839&amp;r=https%3A//developers.google.com/&amp;pg=http%3A//samdu.uz&amp;c=Y&amp;j=N&amp;wh=1536x864&amp;px=24&amp;js=1.3&amp;col=0063AF&amp;t=ffffff&amp;p=E6850F"
     width=0 border=0></body>
</html>