<div class="row item mb-4">
    <div class="col-12 col-md-1 header py-4 d-flex align-items-center justify-content-center"><p
            class="m-0 writing-mode">Dushanba</p></div>
    <div class="col-12 col-md-11">
        <table class="table table-striped w-100">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Kirish</th>
                <th scope="col">Chiqish</th>
                <th scope="col">Fan nomi</th>
                <th scope="col">Xona</th>
                <th scope="col">Fan turi</th>
                <th scope="col">O'qituvchi</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">1</th>
                <td>08:00</td>
                <td>09:20</td>
                <td>Dasturlash asoslari</td>
                <td>P 101</td>
                <td>Ma’ruza</td>
                <td>OMONOV A. A.</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>09:30</td>
                <td>10:50</td>
                <td>Analitik geometriya</td>
                <td>P 102</td>
                <td>Amaliy</td>
                <td>SETTAROVA E. S.</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>11:00</td>
                <td>12:20</td>
                <td>Analitik geometriya</td>
                <td>P 102</td>
                <td>Ma’ruza</td>
                <td>SOLEYEVA N. A.</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>