<!DOCTYPE html>
{%extends 'index.html'%}
{% load group_filter %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{%block content%}

<h2 class="text-center mb-5 mt-5" style="color: #3f477b;">Yo'nalish va guruhni tanlang!</h2>

<div class="accordion" id="collapseGroup">

    {% for i in curriculum_list %}
    <div class="about-text-info shadow-lg d-flex">
        <div class="card-header" id="section{{ forloop.counter }}">
            <h3 class="mb-0">
                <a href="#collapse{{ forloop.counter }}" data-bs-toggle="collapse">
                    {{ i.specialty.name }} {{i.educationForm.name}}
                </a>
            </h3>
        </div>
        <div id="collapse{{ forloop.counter }}" class="collapse" data-bs-parent="#collapseGroup">
            {% for h in i.id|get_group:groups_list %}
            <div class="about-text-info1 shadow-lg d-flex">
                <div class="ms-4">
                    <h3><a href="{% url 'schedule' dep year h.id%}">{{h.name}}</a></h3>
                </div>
            </div>

            {% endfor %}
        </div>
    </div>
    {% endfor %}
</div>


{%endblock content %}
</body>
</html>