<!doctype html>
{%extends 'index.html'%}
{% load static%}

<html lang="en">
<head>

</head>
<body>

{%block content%}
<section class="contact-section section-padding" id="section_6">
    <div class="container">
        <div class="row">

            <div class="col-lg-8 col-16 mx-auto w-100">

                  <a href="javascript:history.back()" class="back-button">
                     <span class="text">Bosh sahifa/</span>
                </a>

                <h2 class="text-center mb-4" style="color: #3f477b;">Fakultetni tanlang!</h2>


                {%for i in flist%}

                <div class="about-text-info shadow-lg d-flex">
                    <div class="ms-4">
                        {%if forloop.counter == 10%}
                        <h3><a href="{% url 'kurs' i.id %}">{{ forloop.counter }}.{{i.name|upper}}</a></h3>
                        {%else%}
                        <h3><a href="{% url 'kurs' i.id %}">{{ forloop.counter }}.{{i.name|upper|slice:-9}}</a></h3>
                          {%endif%}
                    </div>
                </div>

                {%endfor%}
            </div>
        </div>
    </div>
</section>
{% endblock content %}


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>


</body>
</html>