<!doctype html>
{% load static%}
<html lang="en">


<meta http-equiv="content-type" content="text/html;charset=utf-8"/>
<head>
    <meta charset="utf-8">
    <link rel="icon" href="{% static 'img/favicon.ico'%}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <title>Ursu | Schedule</title>


    <!-- CSS FILES -->
    <link rel="preconnect" href="https://fonts.googleapis.com/">

    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;400;700&amp;display=swap" rel="stylesheet">

    <link href="{% static 'css/bootstrap.min.css'%}" rel="stylesheet">

    <link href="{% static 'css/bootstrap-icons.css'%}" rel="stylesheet">

    <link href="{% static 'css/templatemo-festava-live.css'%}" rel="stylesheet">

    <!--



-->
</head>

<body onload="startTime()">

<main>

    <header class="site-header">
        <div class="container">
            <div class="row">

                <div class="col-lg-12 col-12 d-flex flex-wrap ">
                    <p class="d-flex me-4 mb-0 align-items-center">
                        <img src="{% static 'img/logo.png'%}" class="me-2" width="32" height="32">
                        <strong class="text-white">Urganch Davlat Universiteti</strong>
                    </p>
                </div>

            </div>
        </div>
    </header>

    {%block content%}


    <section class="hero-section" id="section_1">
        <div class="section-overlay"></div>

        <div class="container d-flex justify-content-center align-items-center">
            <div class="row">
                <script>
                    function startTime() {
                        const today = new Date();
                        let h = today.getHours();
                        let m = today.getMinutes();
                        let s = today.getSeconds();
                        m = checkTime(m);
                        s = checkTime(s);
                        document.getElementById('txt').innerHTML = h + ":" + m + ":" + s;
                        setTimeout(startTime, 1000);
                    }

                    function checkTime(i) {
                        if (i < 10) {
                            i = "0" + i
                        }
                        ;  // add zero in front of numbers < 10
                        return i;
                    }
                </script>

                <div class="col-12 mt-auto mb-5 text-center shouldtop">

                    <h2 class="text-white">Urganch Davlat Universiteti</h2>
                    <h1 class="text-white mb-5">Dars va Nazoratlar jadvali</h1>
                    <a class="btn custom-btn smoothscroll" href="{% url 'faculties'%}">Boshlash</a>
                    <h1 id="txt" class="text-white " style="margin-top: 100px"></h1>

                </div>



                <div class="mt-auto text-center">
                    <div class="col-lg-12 col-12 mt-auto  d-flex flex-column flex-lg-row text-center shouldbottom">

                    <div class="date-wrap">
                        <h6 class="text-white">
                            <i class="custom-icon bi-calendar me-2"></i>
                            {{date}}
                        </h6>
                    </div>
                    <div class="location-wrap mx-auto py-3 py-lg-0">
                        <h6 class="text-white">
                            <i class="custom-icon bi-geo-alt me-2"></i>
                            Hamid Olimjon ko‘chasi, 14-uy, Urganch Shahar
                        </h6>
                    </div>
                    <div class="social-share">
                        <ul class="social-icon d-flex align-items-center justify-content-center">
                            <span class="text-white me-3">Aloqa:</span>

                            <li class="social-icon-item">
                                <a href="https://www.facebook.com/urduuz" class="social-icon-link">
                                    <span class="bi-facebook"></span>
                                </a>
                            </li>

                            <li class="social-icon-item">
                                <a href="https://t.me/URDU_PRESSA" class="social-icon-link">
                                    <span class="bi-telegram"></span>
                                </a>
                            </li>

                            <li class="social-icon-item">
                                <a href="https://www.instagram.com/urdumatbuotxizmati/" class="social-icon-link">
                                    <span class="bi-instagram"></span>
                                </a>
                            </li>
                        </ul>
                    </div>

                </div>
                    <div class="date-wrap">
                        <p class="text-white" style="font-size: 15px">
                            <b>©</b> Talimni kredit tizimini boshqarish va ma'lumotlar bazasini monitoring qilish
                            bo'limi
                        </p>
                    </div>
                </div>


            </div>

        </div>


        <div class="video-wrap">
            <video autoplay="" loop="" muted="" class="custom-video" poster="#">
                <source src="{% static 'video/Dron.mp4'%}" type="video/mp4">

                Your browser does not support the video tag.
            </video>
        </div>
    </section>

    {%endblock content%}


</main>


<script src="{% static 'js/jquery.min.js'%}"></script>
<script src="{% static 'js/bootstrap.min.js'%}"></script>
<script src="{% static 'js/jquery.sticky.js'%}"></script>
<script src="{% static 'js/click-scroll.js'%}"></script>
<script src="{% static 'js/custom.js'%}"></script>

</body>


</html>