<!DOCTYPE html>
{%extends 'index.html'%}
{% load group_filter %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


{%block content%}

<section class="contact-section section-padding" id="section_6">
    <div class="container">
        <div class="row">

            <div class="col-lg-8 col-16 mx-auto w-100">
                <a href="javascript:history.go(-4)" class="back-button">
                    <span class="text">Bosh sahifa/</span>
                </a>
                <a href="javascript:history.go(-3)" class="back-button">
                    <span class="text">{{fname}}/</span>
                </a>
                <a href="javascript:history.back(-2)" class="back-button">
                    <span class="text">{{k_name}}/</span>
                </a>
                <a href="javascript:history.back()" class="back-button">
                    <span class="text">{{g_name}}/</span>
                </a>
                <br>
                <br>

                <h2 class="text-center mb-4" style="color: #3f477b;">{{g_name}} | Dars jadvali</h2>

                <nav class="d-flex justify-content-center">
                    <div class="nav nav-tabs align-items-baseline justify-content-center" id="nav-tab"
                         role="tablist">
                        <button class="nav-link active" id="nav-ContactForm-tab" data-bs-toggle="tab"
                                data-bs-target="#nav-ContactForm" type="button" role="tab"
                                aria-controls="nav-ContactForm" aria-selected="false">
                            <h5>Joriy hafta</h5>
                        </button>

                        <button class="nav-link" id="nav-ContactMap-tab" data-bs-toggle="tab"
                                data-bs-target="#nav-ContactMap" type="button" role="tab"
                                aria-controls="nav-ContactMap" aria-selected="false">
                            <h5>Keyingi hafta</h5>
                        </button>
                    </div>
                </nav>
                <!--{{schedule_list}}-->
                <div class="tab-content shadow-lg mt-5 " id="nav-tabContent">

                    <div class="tab-pane fade show active" id="nav-ContactForm" role="tabpanel"
                         aria-labelledby="nav-ContactForm-tab">
                        {% for j in schedule_list%}
                        {% if j|get_week_day|slice:"1" == "1"%}
                        <div class="row item mb-4">

                            <div class="col-12 col-md-1 header schedule-table py-4 d-flex align-items-center justify-content-center"
                                 style="background-color:#99a0d2;">
                                <h5 class="m-0 writing-mode" style="color: #3f477b;">{{j|get_week_day|slice:"1:"}}</h5>
                            </div>

                            <div class="col-12 col-md-11 table-responsive">
                                <table class="schedule-table table-hover table table-light"
                                       style="width: 100%; margin: 0 auto;">
                                    <thead>
                                    <tr>
                                        <th style="background-color:#3f477b; color: white;" scope="col">#</th>
                                        <th style="background-color:#3f477b; color: white;" scope="col">Vaqt</th>
                                        <th style="background-color:#3f477b; color: white;" scope="col">Fan nomi</th>
                                        <th style="background-color:#3f477b; color: white;" scope="col">Xona</th>
                                        <th style="background-color:#3f477b; color: white;" scope="col">Fan turi</th>
                                        <th style="background-color:#3f477b; color: white;" scope="col">O'qituvchi</th>

                                    </tr>
                                    </thead>
                                    {% for h in j%}
                                    <tbody>
                                    <tr>
                                        <th style="background-color:#99a0d2; color: white;" scope="row">
                                            {{h.lessonPair.name}}
                                        </th>

                                        <td style="background-color:#99a0d2; color: white;" class="text-start">
                                            {{h.lessonPair.start_time}} - {{h.lessonPair.end_time}}
                                        </td>

                                        <td style="background-color:#99a0d2; color: white;" class="text-start">
                                            {{h.subject.name}}
                                        </td>
                                        <td style="background-color:#99a0d2; color: white;" class="text-start">
                                            {{h.auditorium.name}}
                                        </td>
                                        <td style="background-color:#99a0d2; color: white;" class="text-start">
                                            {{h.trainingType.name}}
                                        </td>
                                        <td style="background-color:#99a0d2; color: white;" class="text-start">
                                            {{h.employee.name}}
                                        </td>
                                    </tr>
                                    </tbody>

                                    {%endfor%}

                                </table>
                            </div>
                        </div>
                        {%else%}
                        <div class="row item mb-4">
                            <div class="col-12 col-md-1 header py-4 d-flex align-items-center justify-content-center">
                                <h5 class="m-0 writing-mode" style="color: #3f477b;">{{j|get_week_day}}</h5></div>
                            <div class="col-12 col-md-11 table-responsive">
                                <table class="schedule-table table-hover table-striped table table-light caption-top"
                                       style="width: 100%; margin: 0 auto;">
                                    <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Vaqt</th>
                                        <th scope="col">Fan nomi</th>
                                        <th scope="col">Xona</th>
                                        <th scope="col">Fan turi</th>
                                        <th scope="col">O'qituvchi</th>
                                    </tr>
                                    </thead>
                                    {% for h in j%}
                                    <tbody>
                                    <tr>

                                        <th scope="row">{{h.lessonPair.name}}</th>
                                        <td class="text-start">{{h.lessonPair.start_time}} - {{h.lessonPair.end_time}}
                                        </td>
                                        <td class="text-start">{{h.subject.name}}</td>
                                        <td class="text-start">{{h.auditorium.name}}</td>
                                        <td class="text-start">{{h.trainingType.name}}</td>
                                        <td class="text-start">{{h.employee.name}}</td>

                                    </tr>
                                    </tbody>

                                    {%endfor%}

                                </table>
                            </div>
                        </div>
                        {%endif%}
                        {%endfor%}
                    </div>

                    <div class="tab-pane fade" id="nav-ContactMap" role="tabpanel"
                         aria-labelledby="nav-ContactMap-tab">

                        {% for j in schedule_next_list%}
                        {% if j|get_week_day|slice:"1" == "1"%}
                          <div class="row item mb-4">
                            <div class="col-12 col-md-1 header py-4 d-flex align-items-center justify-content-center">
                                <h5 class="m-0 writing-mode" style="color: #3f477b;">{{j|get_week_day|slice:"1:"}}</h5></div>
                            <div class="col-12 col-md-11 table-responsive">
                                <table class="schedule-table table-hover table-striped table table-light caption-top"
                                       style="width: 100%; margin: 0 auto;">
                                    <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Vaqt</th>
                                        <th scope="col">Fan nomi</th>
                                        <th scope="col">Xona</th>
                                        <th scope="col">Fan turi</th>
                                        <th scope="col">O'qituvchi</th>
                                    </tr>
                                    </thead>
                                    {% for h in j%}
                                    <tbody>
                                    <tr>

                                        <th scope="row">{{h.lessonPair.name}}</th>
                                        <td class="text-start">
                                            {{h.lessonPair.start_time}} - {{h.lessonPair.end_time}}
                                        </td>
                                        <td class="text-start">{{h.subject.name}}</td>
                                        <td class="text-start">{{h.auditorium.name}}</td>
                                        <td class="text-start">{{h.trainingType.name}}</td>
                                        <td class="text-start">{{h.employee.name}}</td>

                                    </tr>
                                    </tbody>

                                    {%endfor%}

                                </table>
                            </div>
                        </div>
                        {% else%}
                        <div class="row item mb-4">
                            <div class="col-12 col-md-1 header py-4 d-flex align-items-center justify-content-center">
                                <h5 class="m-0 writing-mode" style="color: #3f477b;">{{j|get_week_day}}</h5></div>
                            <div class="col-12 col-md-11 table-responsive">
                                <table class="schedule-table table-hover table-striped table table-light caption-top"
                                       style="width: 100%; margin: 0 auto;">
                                    <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Vaqt</th>
                                        <th scope="col">Fan nomi</th>
                                        <th scope="col">Xona</th>
                                        <th scope="col">Fan turi</th>
                                        <th scope="col">O'qituvchi</th>
                                    </tr>
                                    </thead>
                                    {% for h in j%}
                                    <tbody>
                                    <tr>

                                        <th scope="row">{{h.lessonPair.name}}</th>
                                        <td class="text-start">
                                            {{h.lessonPair.start_time}} - {{h.lessonPair.end_time}}
                                        </td>
                                        <td class="text-start">{{h.subject.name}}</td>
                                        <td class="text-start">{{h.auditorium.name}}</td>
                                        <td class="text-start">{{h.trainingType.name}}</td>
                                        <td class="text-start">{{h.employee.name}}</td>

                                    </tr>
                                    </tbody>

                                    {%endfor%}

                                </table>
                            </div>
                        </div>

                        {% endif%}

                        {%endfor%}

                    </div>

                </div>
            </div>

        </div>
    </div>
</section>

{%endblock content %}

</body>
</html>